<div class="table-container mb-16">
    <hot-table
        className="custom-table htCenter htMiddle body1"
        height="auto"
        rowHeights="40px"
        [columnHeaderHeight]="40"
        width="100%"
        stretchH='all'
        [manualColumnResize]="!read_only"
        [data]="data"
        [colHeaders]="true"
        [rowHeaders]="true"
        licenseKey="non-commercial-and-evaluation"
        [dropdownMenu]="read_only ? false : ['col_left', 'col_right', 'clear_column', 'remove_col']"
        [contextMenu]="read_only ? false : ['row_above', 'row_below', 'remove_row']"
        [manualRowMove]="!read_only"
        [settings]="tableConfig"
        [formulas]="{ engine: hyperformulaInstance }"
        (afterChange)="!read_only && emitDataChange()">
    </hot-table>

    <button *ngIf="!read_only" type="button"
        class="delete-btn bigger-icon"
        mat-button
        (click)="onDeleteTable()">
        <mat-icon class="accent" matTooltip="Delete Procedure">delete</mat-icon>
    </button>
</div>