<div class="table-container mb-16">
    <hot-table
        className="custom-table htCenter htMiddle body1"
        height="auto"
        rowHeights="40px"
        [columnHeaderHeight]="40"
        width="100%"
        stretchH='all'
        [manualColumnResize]="true"
        [data]="data"
        [colHeaders]="true"
        [rowHeaders]="true"
        licenseKey="non-commercial-and-evaluation"
        [dropdownMenu]="['col_left', 'col_right', 'clear_column', 'remove_col']"
        [contextMenu]="['row_above', 'row_below', 'remove_row']"
        [manualRowMove]="true"
        [settings]="tableConfig"
        [formulas]="{ engine: hyperformulaInstance }"
        (afterChange)="emitDataChange()">
    </hot-table>
    <button type="button"
        class="delete-btn"
        mat-button
        (click)="onDeleteTable()">
        <mat-icon
            class="accent"
            matTooltip="Delete Procedure">delete</mat-icon>
    </button>
</div>
