::ng-deep .handsontable .htAutocompleteArrow {
    display: none !important;
}


.table-container {
    position: relative;
    width: 100%;
    z-index: 0;
    padding-right: 40px;
}

::ng-deep .handsontable td {
    border-right: 0px !important;
}

::ng-deep .handsontable tr td:last-child {
    border-right: 1px solid #ccc !important; 
  }

::ng-deep  .handsontable .changeType {
    color: #f3ae20;
    background-color: white;
    border: 0px;
    font-size: 16px;
    position: absolute;
    right: 16px;
}

::ng-deep .handsontable .changeType:hover {
    color: #203587;
    background-color: white;
    border: 0px;
    font-size: 16px;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: -20px; /* Ajusta el espacio para que quede a la derecha de la tabla */
    cursor: pointer;
    line-height: 24px;
}