<app-navbar></app-navbar>
<div>
    <div class="page-container">

        <mat-card class="main-card mt-24 mb-16">
            <mat-grid-list style="display: flex;"
                [cols]="1" rowHeight="28px" class="mb-16">
                <mat-grid-tile rowspan='2'>
                    <span
                        class="header1 primary ">{{labinfo.info.name}}</span>
                </mat-grid-tile>
                <mat-grid-tile>
                    <span
                        class="header3 ">{{labinfo.info.institution}}</span>
                </mat-grid-tile>

            </mat-grid-list>
            <mat-card-content>

                <mat-stepper [linear]="false"
                    [orientation]="(stepperOrientation | async)!"
                    [formGroup]="studentExperiment" hide-header>
                    <mat-step label="Introduction">
                        <span mat-caption
                            class="input-label header3 mt-16 primary">
                            Introduction
                        </span>

                        <span
                            class="body1">{{labinfo.info.description}}</span>
                        <div
                            class="introduction-video-card center mt-16 mb-8">
                            <vg-player
                                class="video-container">
                                <video [vgMedia]="$any(media)"
                                    #media id="singleVideo"
                                    preload="auto" controls
                                    class="video-player"
                                    [src]="labinfo.experiments[0].videos[0].video"></video>
                            </vg-player>

                        </div>

                        <span mat-caption
                            class="input-label header3 mt-24 primary"> Guides
                        </span>
                        <mat-card-actions>
                            <button type="button" class="header2"
                                mat-raised-button
                                matStepperNext>Next</button>
                        </mat-card-actions>
                    </mat-step>
                    <mat-step label="Experimentation">
                        <span mat-caption
                            class="input-label header3 mt-16 primary">
                            Configuration </span>
                        <mat-grid-list [cols]="breakpointParameter"
                            [gutterSize]="'16px'"
                            rowHeight="72px"
                            (window:resize)="onResizeParameter($event)"
                            formArrayName="selectedOptions">
                            <mat-grid-tile
                                *ngFor="let parameter of labinfo.parameters; index as j">
                                <span mat-caption
                                    class="parameter-title input-label header3">
                                    {{parameter.name}}:
                                </span>
                                <mat-form-field
                                    appearance="outline"
                                    class="ml-8 input-field pb-0">
                                    <mat-select
                                        placeholder="Choose Option"
                                        required
                                        [formControlName]="j"
                                        (selectionChange)="syncSelectedOptionsWithVideos()">
                                        <mat-option
                                            *ngFor="let option of parameter.options"
                                            [value]="option.id">
                                            <mat-card
                                                class="parameter-option">
                                                <img mat-card-image
                                                    [src]="option.photo">
                                                <mat-card-content>
                                                    <mat-label
                                                        class="header3 center">{{option.value}}</mat-label>
                                                </mat-card-content>
                                            </mat-card>

                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </mat-grid-tile>

                        </mat-grid-list>
                        <div *ngIf="experimentVideos?.length">
                            <span mat-caption
                                class="input-label header3 primary">
                                Visualization
                            </span>

                            <mat-tab-group mat-stretch-tabs
                                class="visualization-video-tabs mat-elevation-z4 center">
                                <mat-tab
                                    *ngFor="let video of experimentVideos; index as videoIndex">
                                    <ng-template mat-tab-label>
                                        <span
                                            class="header3">{{video.name}}</span>
                                    </ng-template>
                                    <div
                                        class="visualization-video-card">
                                        <vg-player
                                            class="video-container">
                                            <video [vgMedia]="$any(media)"
                                                #media id="singleVideo"
                                                preload="auto" controls
                                                class="video-player"
                                                [src]="video.video"></video>
                                        </vg-player>

                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                            <div formArrayName="results">
                                <span mat-caption
                                    class="input-label header3 mt-16 primary">
                                    Experiment Activities
                                </span>
                                <div
                                    *ngFor="let activity of experimentActivities; index as activityIndex">
                                    <span mat-caption
                                        class="input-label header3">
                                        {{activityIndex+1}}.{{' '+activity.statement}}
                                    </span>
                                    <mat-form-field class="input-field"
                                        appearance="outline">
                                        <input matInput placeholder="Answer"
                                            [formControlName]="activityIndex"
                                            required>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <mat-card-actions>
                            <button type="button" mat-raised-button
                                matStepperPrevious
                                class="secondary-button header2">Back</button>
                            <button type="button" class="header2"
                                mat-raised-button
                                matStepperNext>Next</button>
                        </mat-card-actions>
                    </mat-step>
                    <mat-step label="Final Activities">
                        <div
                            *ngFor="let activity of labinfo.activities; index as activityIndex">
                            <span mat-caption class="input-label header3">
                                {{activityIndex+1}}.{{' '+activity.statement}}
                            </span>
                            <mat-form-field class="input-field"
                                appearance="outline">
                                <input matInput placeholder="Answer"
                                    required>
                            </mat-form-field>
                        </div>
                        <mat-card-actions>
                            <button type="button" mat-raised-button
                                matStepperPrevious
                                class="secondary-button header2">Back</button>
                            <button type="button" mat-raised-button
                                class="header2">Save Experiment</button>
                        </mat-card-actions>
                    </mat-step>
                </mat-stepper>

            </mat-card-content>
        </mat-card>

    </div>
</div>