.page-container{
    padding: 24px 16px;
    box-shadow: none !important;
  }
  .page-title{
    padding: 24px 16px 0px 24px;
  }
  
  @media screen and (min-width:750px) {
    .page-container{
        padding: 32px 24px 0px;  
    }
    .page-title{
        padding: 0px 16px 16px 24px;
    }
  }

  .parameter-title{
    align-items: center;
}

.mat-raised-button{
  padding: 4px 24px;
}

  .card-container{
    padding-left: 24px;
  }

  .parameter-option {
    border-radius: 0px;
    padding: 0px;
    min-width: 160px;
}

img{ 
    object-fit: cover; 
    height: 140px; 
}

.parameter{
    height: 224px !important;  
    .mat-option-text{
      width: 100%;
    }
}
.parameter-option:hover{
  border: 4px solid #000 !important; 
}

.parameter-image{
  padding: 16px;
}


.mat-card-image {
  margin: 0 -16px 0 -16px !important;
}


mat-card-actions{
  justify-content: flex-end;
  display: flex;
  margin: 0px 0px
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.main-card{
  padding-top: 32px;
}

.visualization-video-card {
  height: fit-content;
  width: 65vw;
}

.visualization-video-tabs {
  max-width: 65vw;
}


.introduction-video-card {
  height: fit-content;
  width: 70vw;
}



@media screen and (min-width:840px) {

  .visualization-video-card {
    width: 50vw;
  }
  
  .visualization-video-tabs {
    max-width: 50vw;
  }

}

@media screen and (min-width:1200px) {

  .introduction-video-card {
    height: fit-content;
    width: 50vw;
  }

}


.demo-table {
  width: 100%;
}

.mat-menu-item .mat-icon-no-color{
  color: #f3ae20;
}
.table-header{
  border-bottom: 3px solid currentColor;
}

.add-new{
  color:#f6bd2b;
  transform: scale(1.2);
}

.label{
  display: flex;
  align-items: center; 
  gap: 16px;
}
.label button {
  padding-left: 0px; 
  padding-right: 0px;
  min-width: 0px;
}
.buttons-container {
  display: flex;
  align-items: center;
  gap: 16px; 
}

::ng-deep .mat-tab-label {
  opacity: 1 !important; 
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  opacity: 1 !important; 
}

::ng-deep .mat-tab-label:hover {
  opacity: 1 !important; 
}

::ng-deep .custom-stepper .mat-horizontal-stepper-header {
  height: 48px !important; 
  margin-bottom: 0px; 
}

.procedure-grid {
  display: grid;
  gap: 16px; /* Space between items */
  padding-right: 40px; /* Adjust as needed for button space */
}

@media (min-width: 1024px) {
  /* 3 columns when each table has a width of ~33% */
  .procedure-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* 2 columns when each table has a width of ~50% */
  .procedure-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  /* 1 column when each table has a width of 100% */
  .procedure-grid {
    grid-template-columns: 1fr;
  }
}