<!-- templates/registration/password_reset_form.html -->

<body style="margin: 0">
  <div style="
      font-family: Arial, Helvetica, sans-serif;
      background-color: #203587;
      color: #fff;
    ">
    <h2 style="padding: 20px">Ultra Concurrent Remote Labs</h2>
  </div>

  <div style="
      min-width: 100%;
      min-height: calc(100vh - 152px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    ">
    {% block title %}
    <h3>Password reset</h3>
    {% endblock %} {% block content %}
    <div>
      <p>
        Forgot your password? Enter your email address below, and we'll email
        instructions for setting a new one.
      </p>

      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input style="
            background-color: #203587;
            color: white;
            width: 200px;
            height: 30px;
            padding: 8px 16px;
            cursor: pointer;
            border-radius: 8px;
            margin-top: 16px;
            line-height: 16px;

          " type="submit" value="Reset my password" />
      </form>
    </div>

    {% endblock %}
  </div>
</body>
