<div class="main-container">
  <mat-card class="card">
    <mat-card-title class="title header2">
      <span class="first-title">Ultra-Concurrent</span>
      <span class="second-title">Remote Labs</span>
    </mat-card-title>
    <mat-tab-group mat-align-tabs="center" class="content">
      <mat-tab label="Log In">
        <app-login></app-login>
      </mat-tab>
      <mat-tab label="Sign Up">
        <app-registration></app-registration>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
