
form{
    padding: 0px 0px;
}

mat-card-actions{
    justify-content: flex-end;
    display: flex;
    margin: 0px 0px
}

.parameter-actions{
    justify-content: center;
    display: flex;
    margin: 0px 0px
}

.mat-raised-button{
    padding: 4px 24px;
  }

.mat-button{
    margin: 0px 0px !important;
}
  

@media screen and (min-width:750px) {
    .page-container{
        padding: 64px; ; 
    }
    .page-title{
        padding: 0px 16px 16px 24px;
    }
  }
.add-new{
    margin-top: 4px;
    color:#f6bd2b;
    transform: scale(1.5);
}
mat-divider{
    margin: 24px 0px;
}

.parameter-option {
    height: 296px;
    min-width: 200px;
    .mat-form-field-wrapper{
        padding-bottom: 0px;
    }
}
  
mat-grid-tile{
    .mat-grid-tile-content{
   justify-content: left;
    }
}

#myInput{
    opacity: 0; 
    font-size: 0;
    float: left; 
    width: 64px;
    height: 36px;
    cursor: pointer;
}
#button{
    float:left; 
    position:absolute; 
    height: 36px;
}
#label{
    opacity: 0; 
    height: 0px;
    margin: 0px 0px;
}
img{ 
    object-fit: cover; 
    height: 140px; 
}
.parameter-title{
    color:  #203587;
    align-items: center;
    width: fit-content;
}

.upload-title{
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}



.video-actions{
    justify-content: center;
    padding-bottom: 8px;
}

.video-card {
    width: 55vw;
    .mat-form-field-wrapper{
        padding-bottom: 0px;
    }
}

.intro-video-card {
    width: 40vw;
    .mat-form-field-wrapper{
        padding-bottom: 0px;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: left;
    width: 50%;
    padding: 24px;
}

@media screen and (min-width:600px) {

    .video-card {
        width: 45vw;
    }
}


@media screen and (max-width:900px) {
    .intro-video-card {
        width: 60vw;
    }
    .column {
        width: 100%;
    }
}

@media screen and (min-width:900px) {
    .video-card {
        width: 32vw;
    }
}


@media screen and (min-width:1300px) {

    .video-card {
        width: 25vw;
    }
}


@media screen and (min-width:1600px) {

    .video-card {
        width: 35vw;
    }
}


