/* ---------------- General Layout and Utility Styles ---------------- */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.info{
  color: #006DD3
}
.accent{
  color: #f3ae20;
}

.primary{
  color: #203587;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 8px;
}

.center-container {
  min-width: 100%;
  min-height: calc(100vh - 152px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}


.vertical-center {
  vertical-align: middle;
  line-height: 36px;
}

.content {
  flex: 1;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
}

.text-center {
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding-left: 0px !important;
}

/* -------------------------------------------------------------- */

/* ---------------- Float-based Layout Styles ---------------- */
.column {
  float: left;
  width: 50%;
}

.cols-3 {
  float: left;
  width: 33%;
}

.cols-4 {
  float: left;
  width: 25%;
}

.cols-5 {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pb-0{
 padding-bottom: 0px;
}

.pr-8{
  padding-right: 8px;
 }

.p-8{
  padding: 8px;
}

.ml-4{
  margin-left: 4px;
}

.ml-8{
  margin-left: 8px;
}

.ml-16{
  margin-left: 16px;
}
.ml-24{
  margin-left: 24px;
}

.mr-4{
  margin-right: 4px;
}

.mr-8{
  margin-right: 8px;
}

.mr-16{
  margin-right: 16px;
}


.mr-32{
  margin-right: 32px;
}


.mt-4{
  margin-top: 4px;
}

.mt-8{
  margin-top: 8px;
}

.mt-16{
  margin-top: 16px;
}

.mt-24{
  margin-top: 24px;
}

.mt-32{
  margin-top: 32px;
}

.mb-4{
  margin-bottom: 4px;
}

.mb-8{
  margin-bottom: 8px;
}

.mb-16{
  margin-bottom: 16px;
}

.mb-24{
  margin-bottom: 24px;
}

.my-4{
  margin: 4px 0px;
}

.my-8{
  margin: 8px 0px;
}

.my-16{
  margin: 16px 0px;
}


/* -------------------------------------------------------------- */

/* ---------------- Flexbox and Spacing Utilities ---------------- */
.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 70px;
}

.toast-container .ngx-toastr {
  box-shadow: 0 0 12px #3b3b3b !important;
}

/* -------------------------------------------------------------- */

/* ---------------- Form Styles ---------------- */
form {
  padding: 30px;
}

.input-field {
  width: 100%;
}

.pair-input-field {
  width: 50%;
}

.input-label{
  padding-bottom: 16px;
  width:100%;
  display:flex;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.access-button {
  width: 100%;
}

.no-margin{
  margin: 0px 0px;
}

.mat-horizontal-stepper-header{
  margin-bottom: 16px;
}


.mat-step-header{
  color: #f6bd2b;
}

.mat-select-arrow{
  color: #f6bd2b;
  transform: scale(1.5);
}

/* ---------------------------------------------- */

/* ---------------- Video ---------------- */

.video-container {
  width: 100%;
  height: auto   !important;
}
.video-player {
  position: relative;
  width: 100%;
  height: auto   !important;
  object-fit: cover;
}
/* ---------------------------------------------- */

/* ---------------- Table and Data Presentation Styles ---------------- */
.mat-card-title-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-radius: 10px;
}

.table-content {
  width: 100%;
  padding-top: 10px;
}

.table-header {
  color: white;
  padding: 18px 20px;
  margin: 0px 15px;
}

.table-title {
  font-size: 1.2rem;
  font-weight: normal;
}

tr.no-data-row {
  display: flex;
  border-width: 0;
  border-style: solid;
  margin-top: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


/* ---------------------------------------------- */

/* ---------------- Dialog Styles ---------------- */

mat-dialog-actions{
  justify-content: end;
}



.first-title{
  color: #f3ae20;
  margin-right: 8px;
}

.second-title{
  color: #203587;
}

.mat-column-id {
  flex: 0 0 10%;
}

.mat-raised-button {
  background-color: #203587;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 16px;
}

.pointer{
  cursor: pointer;
}

.bigger-icon{
  transform: scale(1.5);
}

.secondary-button {
  background-color: white;
  color: #203587;
}

.mat-dialog-container {
  border-radius: 16px !important;
  padding: 24px !important;
}

@media screen and (min-width:664px) {
  .mat-dialog-container{
      padding: 40px !important ; 
  }
}

.page-container{
  margin-top: 48px;
  padding: 24px 16px;
  box-shadow: none;
}

.page-title{
  padding: 24px 16px 0px 24px;
}

.fit-content {
   min-width: 'fit-content'
}

.mat-select-panel {
  max-height: 448px !important;
  min-width: 100% !important;
}

.mat-header-cell{
  color:black;
}

/* --------------------------TYPOGRAPHY------------------------- */

.header1 {
  font-weight: 700;
  font-size: 1.3rem;
}
	  
.header2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.header3 {
  font-weight: 700;
  font-size: 0.6rem;
}

.body {
  font-size: 0.6rem;
}

.body1 {
  font-size: 0.4rem;
}

.body2 {
  font-size: 0.5rem;
}

.mat-step-text-label{
  font-weight: 700;
  font-size: 0.6rem;
}

.buttons1 {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0px ;
}
.buttonsHome {
  font-size: 1.0rem;
  font-weight: 700;
  margin: 0px ;
}

.headerHome {
  font-weight: 700;
  font-size: 1.6rem;
}

@media screen and (min-width:200px) {
  .header1 {
    font-size: 1.1rem;
  }
  .header2 {
    font-size: 1.0rem;
  }
  .header3 {
    font-size: 0.7rem;
  }

  .mat-step-text-label{
    font-size: 0.6rem;
  }
  .body {
    font-size: 0.7rem;
  }
  .body1 {
    font-size: 0.6rem;
  }
  .body2 {
    font-size: 0.6rem;
  }
  .buttons1 {
    font-size: 0.6rem;
  }
  .headerHome {
    font-size: 1.7rem;
  }
  .buttonsHome {
    font-size: 1.1rem;
  }
}

@media screen and (min-width:372px) {
  .header1 {
    font-size: 1.4rem;
  }
  .header2 {
    font-size: 1.1rem;
  }
  .header3 {
    font-size: 0.8rem;
  }

  .mat-step-text-label{
    font-size: 0.7rem;
  }
  .body {
    font-size: 0.8rem;
  }
  .body1 {
    font-size: 0.8rem;
  }
  .body2 {
    font-size: 0.7rem;
  }
  .buttons1 {
    font-size: 0.7rem;
  }
  .headerHome {
    font-size: 2.0rem;
  }
  .buttonsHome {
    font-size: 1.3rem;
  }
}

@media screen and (min-width:538px) {
  .header1 {
    font-size: 1.6rem;
  }
  .header2 {
    font-size: 1.5rem;
  }
  .header3 {
    font-size: 1.0rem;
  }
  .mat-step-text-label{
    font-size: 1.0rem;
  }
  .body {
    font-size: 1.0rem;
  }
  .body1 {
    font-size: 0.9rem;
  }
  .body2 {
    font-size: 0.8rem;
  }
  .buttons1 {
    font-size: 1.0rem;
  }
  .headerHome {
    font-size: 2.2rem;
  }
  .buttonsHome {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:664px) {
  .header1 {
    font-size: 2.1rem;
  }
  .header2 {
    font-size: 1.7rem;
  }
  .header3 {
    font-size: 1.2rem;
  }
  .mat-step-text-label{
    font-size: 1.2rem;
  }
  .body {
    font-size: 1.2rem;
  }
  .body1 {
    font-size: 1.0rem;
  }
  .body2 {
    font-size: 0.9rem;
  }
  .buttons1 {
    font-size: 1.2rem;
  }
  .headerHome {
    font-size: 2.4rem;
  }
  .buttonsHome {
    font-size: 1.8rem;
  }
}
@media screen and (min-width:800px) {
  .headerHome {
    font-size: 2.8rem;
  }
}

.mat-step-header .mat-step-icon-selected {
  background-color: #f3ae20;
}





