<mat-toolbar color="primary" class="toolbar">
  <div id="main-label" (click)="goToHome()">
    <img id="logo" src="./assets/logo.png" alt="logo" width="32px" />
    <span *ngIf="(isHandset | async)!.matches; else completeHeader"
      id="navbar-title"
      class="header2">Ultra-Concurrent RLs</span>
    <ng-template #completeHeader>
      <span id="navbar-title" class="header2">Ultra-Concurrent
        Remote Labs</span>
    </ng-template>
  </div>

  <span class="spacer"></span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToMyProfile()">
      <mat-icon class="primary icon">person</mat-icon>
      <span class="body1">My Account</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon class="primary icon">logout</mat-icon>
      <span class="body1">Log Out</span>
    </button>
  </mat-menu>

  <!-- Web menu -->
  <div *ngIf="shownMenu; else loginButtons">

    <button *ngIf="showLabsButton" mat-button class="navbar-button"
      (click)="goToCreateLab()">
      <mat-icon class="icon"
        svgIcon="add"
        matTooltip="Create New Laboratory"></mat-icon>
    </button>

    <button mat-button class="navbar-button" (click)="openLaboratories()">
      <mat-icon class="icon"
        matTooltip="Laboratories" svgIcon="laboratories"></mat-icon>
    </button>

    <button mat-button class="navbar-button">

      <mat-icon class="icon"
        matTooltip="Saved Experiments" svgIcon="experiment"></mat-icon>
    </button>

    <button mat-button
      [matMenuTriggerFor]="menu"
      class="padding_medium navbar-button">
      <mat-icon class="icon" svgIcon="account"
        matTooltip="My Profile"></mat-icon>
    </button>

    <span *ngIf="!(isHandset | async)!.matches" mat-caption
      class="vertical-center body1">
      {{user.name || "" }}{{' ' + user.last_name || "" }}
    </span>

    <button *ngIf="!(isHandset | async)!.matches" mat-button
      class="padding_smaller" [matMenuTriggerFor]="menu">
      <mat-icon class="icon"
        svgIcon="arrowdown"></mat-icon>
    </button>

  </div>

  <!--Login Buttons-->
  <ng-template #loginButtons>
    <span
      class="pointer header3 mr-32" (click)="goToLogin()">Sign Up</span>
    <button type="button" mat-raised-button
      class="secondary-button header3" (click)="goToLogin()">Sign
      In</button>
  </ng-template>
</mat-toolbar>
