<app-navbar></app-navbar>
<div class="main-container">
  <mat-card class="card">
    <div class="custom-header">
      <mat-card-title class="title header1">
        <span class="first-title">404</span>
        <span class="second-title">Page not Found</span>
      </mat-card-title>
    </div>
    <mat-card-content class="text">
      <div>
        <p class="header3">The page you are looking for might been removed</p>
      </div>
      <button mat-raised-button color="primary"
        (click)="goToHome()"
        class="buttonsHome">
        Go to Remote Lab
      </button>
    </mat-card-content>
  </mat-card>
</div>