.main-container {
  min-width: 100%;
  min-height: calc(100vh - 152px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 70%;
  box-shadow: 0px 0px;
}

.text {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin-top: 16px;
}


.first-title{
  color: #f3ae20;
  margin-right: 8px;
}

.second-title{
  color: #203587;
}

.title {
  text-align: center;
  padding: 10px;
}

.mat-raised-button {
  background-color: #203587;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 16px;
}
