<div>
  <mat-card-title class="dialog-title center">
    <span class="first-title header2">Manage</span>
    <span class="second-title header2">my Account</span>
  </mat-card-title>

  <form [formGroup]="editionForm" #formDirective="ngForm"
    (ngSubmit)="updateUser(formDirective)">
    <div class="input-container">
      <span class="body input-label">Name</span>
      <mat-form-field class="input-field" appearance="outline">
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>

    <div class="input-container">
      <span class="body input-label">Last name</span>
      <mat-form-field class="input-field" appearance="outline">
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>

    <div class="input-container">
      <span class="body input-label">Email</span>
      <mat-form-field class="input-field" appearance="outline">
        <input matInput placeholder="user@gmail.com" formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <span class="mat-caption body mb-16">Required fields are marked with
      *</span>

    <div class="button-container mt-24">
      <button mat-raised-button color="primary" type="submit" class="header2">
        Update
      </button>
    </div>
  </form>
</div>
