.mat-caption {
  color: #f3ae20;
}

.input-container {
  margin-bottom: 16px; /* Añadido espacio entre los inputs */
  mat-form-field-wrapper{
    padding-bottom: 0px;
  }
}

.input-label {
  padding-bottom: 0px;
  margin-bottom: 8px; /* Espacio entre el label y el input */
  display: block;
}


.input-field {
  width: 100%;
}

.mat-raised-button {
  border-radius: 8px;
}

.button-container {
  text-align: center;
  width: 100%;
}

.header2 {
  width: 100%; /* Hacer que el botón ocupe el 100% del ancho */
  padding-top: 8px;
  padding-bottom: 8px;
}

.mat-form-field {
  width: 100%;
}
