
.mat-caption{
  color:#f3ae20;
  padding-left: 10px;
}

.button-container {
  text-align: center;
  width: 100%;
}

.mat-raised-button {
  background-color: #203587;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 16px;
}
