<div>
  <mat-card-title class="dialog-title center">
    <span class="first-title header2">Ultra-Concurrent</span>
    <span class="second-title header2">Remote Labs Builder</span>
  </mat-card-title>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <span class="body input-label">Email</span>
      <mat-form-field class="input-field" appearance="outline">
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>

    <div class="input-container">
      <span class="body input-label">Password</span>
      <mat-form-field class="input-field" appearance="outline">
        <input matInput formControlName="password"
          [type]="hide ? 'password' : 'text'" />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" tabindex="-1">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.invalid">
          {{ getPasswordErrorMessage() }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center mt-8">
      <span class="body">
        <a class="clickable-text" [href]="passwordResetUrl">Forgot Password?</a>
      </span>
    </div>

    <div class="button-container mt-32">
      <button mat-raised-button color="primary" type="submit" class="header2">
        Sign In
      </button>
    </div>

    <div class="mt-32 center mb-8">
      <span class="body">
        Don't have an Account?
        <a class="clickable-text" (click)="openSignUp()">Register</a>
      </span>
    </div>

  </form>
</div>