mat-card-actions{
    justify-content: center;
    display: flex;
    margin: 0px 0px
}

mat-card-content{
    padding: 24px 16px;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .message-text {
    line-height: 1.5; /* Ajusta el espacio entre líneas */
    text-align: justify; /* Justifica el texto si es muy largo */
  }
  