
.vg-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Alinea los controles a la izquierda */
    transform-origin: bottom left; /* Escala desde la esquina inferior izquierda */
  }
