.dialog-title{
    margin-top: 16px;
  }
  
  .mat-raised-button {
    border-radius: 8px;
  }
  

  .input-label{
    padding-bottom: 8px;
  }

  mat-card-content{
    padding: 24px 16px;
}

  mat-card-actions{
    justify-content: center;
    display: flex;
    margin: 0px 0px
}

mat-dialog-actions{
  margin-bottom: 0px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

