/* ---------------- Activity Content Layout ---------------- */
.activity-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.column {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid #203587;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.column:last-child {
  margin-right: 0;
}

/* ---------------- Angular Material ---------------- */
.mat-raised-button {
  background-color: #203587;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}

mat-tab-group {
  margin: 0 auto;
  width: 100%;
}

mat-tab-group[mat-align-tabs='center'] .mat-tab-labels {
  justify-content: center;
}

.home-container {
    height: calc(100vh - 152px);
    width: 100%;
    border-radius: 0;
    padding: 0;
}

.content {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.video{
  height: calc(100vh - 160px);
	width: 100%;
  object-fit: cover;
}
.headerHome {
  color:white;
  border-color: white;
  justify-content: center;
  text-align: center;
  min-width: 60vw;
  line-height: 32px;
}

.header-content{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 60vw;
}